header {
  height: 400px;
  z-index: 1000;
  background-color: #f4a261;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.your-name {
  color: #fff;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 36px;
}
.bg-image {
  background-image: url('/images/blu-stripes.png');
}