.errorMessage {
  color: red;
  font-weight: 600;
  margin-bottom: 10px;
}
textarea {
  border-bottom: 5px solid #545149;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background: none;
  font-weight: bold;
  width: 100%;
}

.new-tweet-button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  font-family: "Bungee";
  background-color: hsl(226, 43%, 44%);
  color: #fff;
}
output {
  font-family: "Bungee";
}

@media screen and (min-width: 1024px) {
  .new-tweet h2 {
    margin-top: 0;
  }
}